* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.peliculas {
    background-color: rgba(0,0,0,0.8);
}

nav ul, .peliculas{
    display: flex;
    padding: 20px 100px;
    justify-content: space-evenly;
}

ul {
    list-style: none;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

article {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

article  {
    width: 200px;
}

li {
    margin-bottom: 10px;
}

article img {
    width: 150px;
    margin-bottom: 10px;
}

.showMovie {
    display: block;
    margin: 0 auto;
}